[
    {
        "Azure": {
            "endpoint": "Example",
            "api_key": "Example",
            "deployment": "Example"
        },
        "OpenAI": {
            "api_key": "Example",
            "model": "Example"
        },
        "Gemini": {
            "api_key": "Example",
            "model": "Example"
        }
    }
]